{% extends "base.html" %}
{% load cloudinary %}
{% block title %}
{{ post.title }}
{% endblock %}
{% block content %}
{% load static %}
<div class="container mx-auto px-2 py-8">
  <div class="card bg-base-300 shadow-xl mb-8">
    <div class="card-body">
      {% if post.cover_image %}
      <div class="py-4">
        <img
          src="{{ post.cover_image.url }}"
          alt="{{ post.title }}"
          class="w-full h-auto object-cover mb-4"
        />
      </div>
      {% else %}
      <div>
        <img
          src="{% static 'images/default_cover_image.jpg' %}"
          alt="Default cover image"
          class="w-full h-auto object-cover mb-4"
        />
      </div>
      {% endif %}
      <h1 class="text-3xl font-semibold mb-4">{{ post.title }}</h1>
      <p class="text-sm text-neutral-500">
        {{ post.created|date:"F j, Y" }} by {{ post.author }}
      </p>

      <div class="py-4">
        <p>{{ post.body | safe }}</p>
      </div>
      {% if post.author == user %}
      <div class="card-actions justify-end mt-4">
        <a href="{% url 'edit_post' post.id %}" class="btn btn-sm btn-primary"
          >Edit</a
        >
        <a href="{% url 'delete_post' post.id %}" class="btn btn-sm btn-danger"
          >Delete</a
        >
      </div>
    </div>
      {% endif %}
    </div>
  </div>

  <!-- Comments Section -->
  <div class="container mx-auto px-2 py-8">
    <h3 class="text-xl font-semibold mb-4">Comments</h3>
    {% for comment in comments %}

    
    <div class="card bg-base-300 shadow-lg mb-4">
      <div class="card-body">
        <p><strong>{{ comment.author.username|title }}</strong> said:</p>
        <p>{{ comment.body }}</p>
        <p class="text-sm text-neutral-500">
          {{ comment.created|date:"F j, Y" }}
        </p>
        {% if not comment.approved %}
        <p class="text-sm text-yellow-500">Waiting for comment to be approved</p>
        {% endif %}
        {% if comment.author == user %}
        
        <div class="card-actions justify-end mt-4">
          <a
            href="{% url 'edit_comment' comment.id %}"
            class="btn btn-sm btn-primary"
            >Edit</a
          >
          <a
            href="{% url 'delete_comment' comment.id %}"
            class="btn btn-sm btn-danger"
            >Delete</a
          >
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Comment Form -->
  {% if user.is_authenticated %}
  <div class="container mx-auto px-2 py-2">
    <h3 class="text-xl font-semibold mb-4">Leave a Comment</h3>
    <form method="POST" class="space-y-4">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  {% else %}
  <p class="text-center text-red-500">You must be logged in to comment.</p>
  {% endif %}

  <!-- Back to Posts Button -->
  <div class="mt-8 text-center">
    <a href="{% url 'post_list' %}" class="btn btn-secondary">Back to Posts</a>
  </div>
</div>
{% endblock %}
